@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Russo+One&display=swap');

:root {
    --primary-color-text: #8e918e;
    --primary-color-headlines: #D5A2FE;
    --primary-color-buttons: #a5f8b7;
    --primary-color-background: #fafafa;
    --primary-color-line: #edd7fa;
    --secondary-color-text: #717471;
    --secondary-color-line: #f3e9f9;  
}
* {
    font-family: "Roboto", sans-serif; /* Default font for all elements */
}
.container {
    width: 75%;
    margin: 0 auto;  /* Center the container */
}
.menu-list ul{
    list-style: none; /* Remove default list styles */
    padding: 0; 
    text-transform: uppercase;
}
.menu-list ul li{
    display: inline-block; /* Display list items in a row */
    margin-right: 64px; /* Space between items */
    padding: 10px 0; /* Space above and below */
    font-size: 32px;
    font-weight: 700;
    color: var(--secondary-color-text); /* Text color */
    transition: transform 0.3s ease; /* Smooth transition for scaling */
    
}
.menu-list ul li a{
    display: inline-block;  /* otherwise transform won't work */
    color: inherit; /* Inherit color from parent */
    text-decoration: none; /* Remove underline */
}
.menu-list ul li:hover{
    /*color: var(--primary-color-headlines); /* Change color on hover */
    transform: scale(1.5); /* Scale up on hover */
    text-shadow: 4px 4px 3px var(--primary-color-text), 8px 8px 3px var(--primary-color-text); /* Add shadow effect */
    transition: transform 0.5s ease-in-out, text-shadow 0.5s ease-in-out; /* Smooth transition for scaling and shadow */
}
